@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
}
.anim_ready_to_click {
  animation-name: scale10;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

@keyframes scale10 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.footer_bg {
  background: linear-gradient(270deg, #f02d3c 0%, #f6622c 100%);
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 24px 24px 0px 0px;
}
.navbar_shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.navbar_bg_left {
  background: linear-gradient(270deg, #f02d3c 0%, #f6622c 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
  width: 64px;
  height: 40px;
}
.navbar_bg_right {
  background: linear-gradient(270deg, #f02d3c 0%, #f6622c 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 20px;
  width: 64px;
  height: 40px;
}
.category_card {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 110px 110px 24px 24px;
  background: #ffffff;
}

.special_offer {
  background: linear-gradient(270deg, #f6602d 0%, #fa8821 100%);
}
.btn_primary {
  background: linear-gradient(270deg, #f02d3c 0%, #f6622c 100%);
  border-radius: 24px;
}
.seperator {
  width: 350px;
  height: 0px;
  border: 1px solid rgba(37, 48, 49, 0.1);
}
.btn_Primary_small {
  width: 170px;
  height: 36px;
  background: linear-gradient(270deg, #f02d3c 0%, #f6622c 100%);
  border-radius: 24px;
}
.contact_us {
  background: linear-gradient(270deg, #f02d3c 0%, #f6622c 100%);
}
.card_shadow {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.offer_300 {
  background: linear-gradient(270deg, #f02d3c 0%, #f6622c 100%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.bg_primary {
  background: linear-gradient(270deg, #f02d3c 0%, #f6622c 100%);
}
.serach_bar {
  background: linear-gradient(270deg, #f6602d 0%, #fa8821 100%);
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.2);
}
.divedr {
  border: 0.5px solid rgba(37, 48, 49, 0.4);
}
.background-gray {
  background: rgba(37, 48, 49, 0.1);
}
.filter_background {
  background: rgba(255, 255, 255, 0.3);
}
.filter_bg_sidebar {
  background: rgba(37, 48, 49, 0.1);
}
.numberItemBg {
  background: #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

@media only screen and (min-width: 600px) {
  .login_bg {
    background: linear-gradient(270deg, #f6602d 0%, #fa8821 100%);
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
